[Desktop Entry]
Version=1.0
Type=Application
Name=Pengy
Comment=AI chat assistant
Exec=/home/beholder/Personal/PengyR-x86_64.AppImage
Icon=/home/beholder/Personal/Pengy/pengy.png
Terminal=false
Categories=Utility;
